table {
  border-collapse: collapse;
  border-spacing: 0;
}

section.notice {
  padding: 80px 0;
}

.page-title {
  margin-bottom: 60px;
}

.page-title h3 {
  font-size: 28px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

#board-search .search-window {
  padding: 15px 0;
  background-color: #f9f7f9;
}

#board-search .search-window .search-wrap {
  position: relative;
  /*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
}

#board-search .search-window .search-wrap input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}

#board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}

#board-search .search-window .search-wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

.board-table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}

.board-table a:hover {
  text-decoration: underline;
}

.board-table th {
  text-align: center;
}

.board-table .num {
  width: 100px;
  text-align: center;
}

.board-table .date {
  width: 200px;
}

.board-table th,
.board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p {
  display: none;
}

.btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover,
.btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover,
.btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.box {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.boardWrapper {
  display: flex;
  justify-content: center;
  user-select: none;
  padding-top: 140px;
}

.poductResult {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.noProduct {
  padding: 50px;
}

ul.products {
  display: flex;
  align-items: center;
  flex-direction: raw;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.menu > li:not(:last-child) {
  margin-right: 30px;
}

.menu a:hover,
.menu a:active {
  text-decoration: underline;
}

.menu > li {
  text-transform: uppercase;
  font-size: 10px;
}

.card {
  position: relative;
  margin: 5px;
  text-align: left;
}

.card:hover {
  cursor: pointer;
}

.imgStyle {
  width: 100px;
  height: 100px;
  border-radius: 0 0 5px 5px;
}

.imgSearchList {
  z-index: -1;
  width: 285px;
  height: 285px;
  background-size: cover;
  border-radius: 0 0 5px 5px;
}

.margin {
  margin-right: 40px;
}

.info {
  padding: 20px 0;
  text-align: left;
  padding-left: 20px;
}

.info > p:nth-child(1) {
  font-size: 20px;
}

.info > p:nth-child(2) {
  font-size: 24px;
  font-weight: 800;
}

.w7pzr96 {
  position: relative;
  min-width: 6.75rem;
  min-height: 6.75rem;
}

.w7pzr97 {
  margin-top: 0;
  margin-left: 0;
  margin-left: 1rem;
}

.w7pzr93 {
  line-height: 1.36;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.w7pzr94 {
  color: gray;
  line-height: 1.5;
  font-size: 0.813rem;
}

.w7pzr95 {
  font-weight: 700;
  line-height: 1.4;
  font-size: 0.875rem;
}

.w7pzr90 {
  display: flex;
  cursor: pointer;
  flex-direction: row;
}

._19qbbiq0 {
  opacity: 1;
  transition: 0.2s;
  display: flex;
  cursor: pointer;
  border-radius: 0.5rem;
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.w7pzr96 {
  position: relative;
  min-width: 6rem;
  min-height: 6rem;
}

._1ff3f302 {
  width: 900px;
  max-width: 48rem;
  margin: 0;
  padding: 150px;
}

._11vv8ke2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 850px;
}

._11vv8ke3 {
  /* padding: 4rem 0; */
  padding: 10px;
  flex-basis: 48%;
  border-radius: 10px;
}

._11vv8ke3:hover {
  cursor: pointer;
  animation: shadow-drop-2-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.as1 {
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 0ms;
}

.as2 {
  width: 588px;
}

.as3 {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
}

.aa1 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  top: 200px;
  position: sticky;
}

.aa2 {
    display: flex;
}

.aa3 {
  width: 38%;
}

.aa4 {
  display: inline-block;
}

.aa5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aa6 {
  display: inline-block;
  margin-left: -1030px;
}

.aa26 {
  display: inline-block;
  margin-left: 18px;
  margin-top: 10px;
}

.aa36 {
  display: inline-block;
  margin-left: 18px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.aa16 {
  display: inline-block;
  margin-left: 8px;
}

.aa7 {
  text-decoration: none;
  display: block;
  margin-top: 25px;
  padding-bottom: 23px;
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.section1 {
  width: 50%;
  height: 50%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_slide_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  margin-top: 94px;
  padding-bottom: 0;
  padding-top: 180px;
  display: block;
}

.ad1 {
  position: relative;
  width: 500px;
  margin: 0 auto;
}

.imageStyle {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  border-width: 4px;
  border-radius: 50%;
  --tw-translate-x: -1rem;
  width: 60px;
  height: 60px;
  box-sizing: content-box;
  color: transparent;
}

.commentImageStyle {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  border-width: 1px;
  border-radius: 50%;
  --tw-translate-x: -1rem;
  width: 50px;
  height: 50px;
  box-sizing: content-box;
  color: transparent;
}

.section {
  padding-top: 140px;
}

.bdContents {
  margin-bottom: 16px;
  margin-top: 8px;
  display: block;
}

.bdSubjects {
  margin-bottom: 16px;
  margin-top: 8px;
  display: block;
  font-weight: 700;
  line-height: 1.4;
}

.commentContents {
  margin-bottom: 16px;
  margin-left: -1030px;
  margin-top: 8px;
  display: block;
}

.commentImgUrl {
  display: inline-block;
  margin-bottom: auto;
}

.replyCommentImgUrl {
  padding-top: 10px;
  display: inline-block;
  margin-bottom: auto;
}

.commentLike {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-left: -1030px;
}

.replyCommentLike {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.commentBoard {
  overflow: hidden;
  margin: 0px 16px 16px;
  border-radius: 4px;
  border: 1px solid rgb(222, 226, 230);
  box-sizing: border-box;
}

.commentButton {
  border-radius: 0px;
  border-color: rgb(0, 196, 113);
  font-weight: 700;
  background-color: rgb(0, 196, 113);
}

.commentAddContent {
  margin: 0px 16px 16px;
  border-radius: 4px;
  border: 1px solid rgb(222, 226, 230);
  box-sizing: border-box;
}

.commentAddContent2 {
    display: flex;
    justify-content: flex-end;
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
    border-radius: 5px;
    margin: auto;
}

.commentAddContent {
    border-radius: 4px;
    border: 1px solid rgb(222, 226, 230);
    box-sizing: border-box;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 70px;
}

.commentAddReplyContent {
    border-radius: 4px;
    border: 1px solid rgb(222, 226, 230);
    box-sizing: border-box;
    padding: 1px;

}

.commentAddContent2 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
}

.commentContent {
  padding-bottom: 0;
  padding-top: 10px;
  display: block;
}

.commentLikes {
  margin-top: 10px;
  margin-left: 10px;
}

.update {
  margin-left: 5px;
}

.update1 {
  margin-left: auto;
}
.edit {
  /* vertical-align: middle; */
}

.btn_edit {
  margin-right: 5px;
  vertical-align: middle;
}

.btn_edit:hover {
  scale: 1.1;
  cursor: pointer;
}

.img {
  border-radius: 10px;
}
.boards {
  border-bottom: 1.5px solid #eee;
}
.btn_post {
  margin-top: 5px;
}
.btn_post:hover {
  cursor: pointer;
}

.board_card:hover {
  animation: shadow-drop-2-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes shadow-drop-2-br {
  0% {
    transform: translateZ(0) translateX(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px) translateX(-5px) translateY(-5px);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

.update {
  margin-right: auto;
}

.update1 {
    margin-right: auto;
}

