.title {
  cursor: pointer;
}

.hover {
  text-decoration: underline;
}
.list {
  margin-top: 20px;
  border-bottom: solid 1px #ababab;
}

.list_tit {
  border-bottom: solid 1px #ababab;
  color: #ababab;
}

.list_grid {
  display: grid;
  grid-template-columns: 85% 15%;
  padding-left: 30px;
}

.list_data {
  line-height: 40px;
}

.acenter {
  text-align: center;
}

.body {
  margin: 0 auto;
  width: 1200px;
}

.button {
  margin-top: 10px;
}

.pagination {
  text-align: center;
}

.logo {
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: underline;
  text-underline-position: under;
}
