.container {
  padding-top: 50px;
  padding-top: 140px;
}

.swiper {
  height: 40px;
  background: pink;
}

.pdInfo {
  display: flex;
}

.imgBox {
  width: 50%;
  background: #fff;
}

.pdImg {
  width: 612px;
  height: 612px;
  background-size: cover;
  transition: all 0.3s ease-out;
  border-radius: 10px;
}
.pdImg:hover {
  opacity: 0.9;
}

.infoBox {
  color: #333;
  margin-left: 50px;
  width: 588px;
}
.category {
  margin-bottom: 20px;
}
.pdTitle {
  font-size: 24px;
  font-weight: 800;
}
.price {
  font-size: 34px;
  font-weight: 800;
}

.plusInfo {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 30px 0 20px;
  flex-direction: column;
}
li {
  list-style: none;
}

.info1,
.info2 {
  padding: 0 70px 0 10px;
  border-right: 1px solid #ccc;
}
.info3 {
  padding: 0 50px 0 10px;
}

.title {
  font-size: 14px;
  color: #4343438f;
}
.subTitle {
  font-size: 20px;
  font-weight: 800;
  color: #333;
}
.option {
  margin-bottom: 10px;
}
.option > p:first-child {
  margin-bottom: 10px;
}
.option > p:nth-child(2) {
  margin-bottom: 2px;
}

.subForm {
  display: flex;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.chatBtn {
  margin: 0 30px 0 10px;
  padding: 10px 90px;
}
.buyBtn {
  background: #333;
  color: #fff;
  padding: 10px 90px;
}
.buyBtn:hover {
  opacity: 0.9;
}

.contentArea {
  display: flex;
  padding-bottom: 150px;
}
.content {
  margin-top: 50px;
  padding-bottom: 50px;
}
.pdInfoArea {
  width: 50%;
  margin-left: 10px;
}
.userInfo {
  display: flex;
  width: 50%;
  margin-left: 50px;
}

.userInfoArea {
  display: flex;
  padding: 20px;
  margin-top: 20px;
}
.userImg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.userImage {
  background-size: cover;
}
.userName {
  font-weight: bold;
}
.userRegion {
  margin-left: 10px;
  color: #797979;
}
.userName,
.userRegion {
  margin: 10px 0 0 20px;
}

.caution {
  margin: 20px 0;
}

.chatSection {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 0;
  top: 0;
  width: 700px;
  height: 100%;
  background: #fff;
  z-index: 1;
  transition: all 0.4s ease;
  transform: translateX(700px);
}
.chatSection.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.chatSection::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.418);
  opacity: 0.9;
  transform: scaleX(100);
  z-index: -99;
}

.chatHead {
  display: flex;
  height: 10%;
  justify-content: space-between;
  background: #fff;
}

.chatBody {
  height: 80%;
  padding: 30px;
  box-sizing: border-box;
  background: #e9edef;
}
.chatfirst {
  height: 100%;
  text-align: center;
  padding-top: 50%;
}

.chatting {
  height: 10%;
  padding: 20px;
  background: #fff;
}
.chattingForm {
  width: 100%;
}
.chattingBtn {
  display: flex;
  justify-content: space-between;
}

.chat {
  color: #333;
}
