.container {
  padding: 50px;
}

.pdInfo {
  display: flex;
}

.imgBox {
  padding-right: 50px;
}

.img {
  width: 612px;
  height: 612px;
  background-size: cover;
  background: pink;
}

.infoBox {
  color: #333;
}
.pdTitle {
  font-size: 24px;
  font-weight: 800;
}
.price {
  font-size: 32px;
  font-weight: 800;
}
