.section {
  padding: 140px 0 200px;
}

.container {
  display: flex;
}

.filter {
  padding: 30px 10px;
  width: 30%;
}
.filterTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.filterTitle > p {
  font-size: 24px;
  font-weight: 800;
}
.filterItem {
  display: flex;
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  background: #f7f7f7;
  transition: all 0.2s ease;
}
.filterItem > span:nth-child(1) {
  margin-left: 20px;
  text-align: center;
}
.filterItem > span:nth-child(2) {
  padding: 0 20px;
}
.filterItem:hover {
  border: 1px solid #333;
}

.delete {
  text-align: right;
}
.fSubTitle {
  margin-bottom: 20px;
  padding-top: 30px;
  font-weight: 600;
  border-top: 1px solid #ccc;
}
.fList {
  margin-bottom: 5px;
}
.fListSelect {
  font-weight: bold;
}

.product {
  width: 100%;
  padding: 30px 10px 30px 20px;
}
.category {
  padding: 30px 0x;
}
.category > span {
  color: #838383;
}
.category > span:nth-child(2) {
  color: #333;
  font-weight: 800;
}

.productTitle {
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.productTitle > h1 {
  float: left;
  font-size: 25px;
  font-weight: 800;
  line-height: 100px;
}

.result {
  line-height: 100px;
  /* margin-left: 400px; */
  color: #616161;
}
.result2 {
  line-height: 100px;
  margin-left: -300px;
  color: #616161;
}
.Emphasis {
  color: #0dcc5a;
  font-weight: 900;
}
.buttonBox {
  display: flex;
}
.btnEmphasis {
  font-weight: 800;
  color: #333;
}
.slash {
  line-height: 100px;
}

.buttonFilter {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
  padding-left: 15px;
}
.buttonFilter.active {
  border: 1px solid #333;
}
.bIcon {
  float: right;
  padding-right: 20px;
  color: #aaa;
}

.compare {
  font-size: 18px;
  font-weight: 600;
  color: #666;
  margin-bottom: 20px;
  text-decoration: underline 6px solid #0dcc5a;
  text-underline-offset: -2px;
}

.priceBox {
  display: flex;
  justify-content: space-around;
  border: 1px solid #0dcc5a;
  padding: 20px;
  background: rgba(13 204 90 / 0.1);
}

.itemBox {
  margin-top: 20px;
}

.pPrice {
  font-size: 24px;
  font-weight: 800;
}

.avg {
  color: #5a5a5a;
}
.max {
  color: red;
}
.min {
  color: rgb(59 130 246);
}

.emptyDiv {
  padding: 50px;
}

.categoryList {
  --tw-border-opacity: 1;
  border-color: rgb(218 222 229 / var(--tw-border-opacity));
  border-style: solid;
  flex-direction: column;
  display: flex;
}

.topicList {
  padding: 0.75rem;
  height: 2.5rem;
}
