.body {
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.card {
  padding: 10px;
  border-radius: 0.5rem;
}
.card:hover {
  animation: shadow-drop-2-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.cardFlex {
  display: flex;
}
.imgBox {
  width: 150px;
  height: 100px;
  /* display: inline-block; */
  /* padding-top: 0; */
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;

  display: table-cell;
  vertical-align: middle;
  /* border: 0.1px solid black; */
}
.img {
  display: block;
  width: 100%;
  height: auto;
  /* object-fit: cover; */

  max-width: 150px;
  max-height: 100px;
}
.title {
  margin-bottom: 3px;
}
.price {
  font-size: large;
  font-weight: 1000;
  margin-bottom: 5px;
}
.date {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: small;
  color: gray;
}

@keyframes shadow-drop-2-br {
  0% {
    transform: translateZ(0) translateX(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px) translateX(-5px) translateY(-5px);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
