.footer {
  padding: 20px 10% 10px;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  /* margin: 0 auto; */
}

.fBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.links,
.sns,
.info,
.contact {
  padding: 0;
  color: #8f8f8f;
  list-style: none;
}

.links > *,
.info > *,
.sns > *,
.contact > * {
  line-height: 1.64;
}

.links > :not(:last-child) {
  margin-right: 30px;
}

.title {
  font-weight: 600;
  color: #333;
  padding-bottom: 20px;
}
.subTitle {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  padding-bottom: 10px;
}
.subLists {
  cursor: pointer;
  transition: all 0.5s ease;
}
.subLists:hover {
  color: #333;
  transition: all 0.2s ease;
}

.items:hover {
  cursor: pointer;
}

.info > :not(:last-child) {
  margin-right: 30px;
}

/* .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.bottomLine {
  width: 100%;
  border-top: 1px solid #333;
  transform: scaleX(4);
} */
