.card {
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.card:hover {
  box-shadow: 3px 3px 5px 1px #ccccccc6;
  transform: translateY(-5px);
}
