.nav {
  position: relative;
  padding: 20px 10% 0px;
  z-index: 1;
  border-bottom: 1px solid #ccc;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 30px;
  font-weight: 600;
}

ul.menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu > li:not(:last-child) {
  margin-right: 30px;
}

.menu a:hover,
.menu a:active {
  text-decoration: underline;
}

.menu > li {
  text-transform: uppercase;
  font-size: 10px;
}
