.nav {
  position: relative;
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu > li:not(:last-child) {
  margin-right: 30px;
}

.menu a:hover,
.menu a:active {
  text-decoration: underline;
}

.menu > li {
  text-transform: uppercase;
  font-size: 10px;
}
