.poductResult {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.noProduct {
  padding: 50px;
}

ul.products {
  display: flex;
  align-items: center;
  flex-direction: raw;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.menu > li:not(:last-child) {
  margin-right: 30px;
}

.menu a:hover,
.menu a:active {
  text-decoration: underline;
}

.menu > li {
  text-transform: uppercase;
  font-size: 10px;
}

.card {
  position: relative;
  margin: 5px;
  text-align: center;
}

.card:hover {
  cursor: pointer;
}

.imgHome {
  width: 285px;
  height: 285px;
  border-radius: 0 0 5px 5px;
}
.imgSearchList {
  z-index: -1;
  width: 285px;
  height: 285px;
  background-size: cover;
  border-radius: 0 0 5px 5px;
}

.margin {
  margin-right: 40px;
}

.info {
  padding: 20px 0;
  text-align: left;
  padding-left: 20px;
}
.info > p:nth-child(1) {
  font-size: 20px;
}
.info > p:nth-child(2) {
  font-size: 24px;
  font-weight: 800;
}
