.recentTitle {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.recentTtitle {
  font-weight: bold;
}
.recentDelete {
  text-decoration: underline;
}
.recentList {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 0 20px 50px;
  overflow: scroll;
  -ms-overflow-style: none;
}
.recentList ::-webkit-scrollbar,
.recentSearch ::-webkit-scrollbar {
  display: none;
}

.recentWord {
  white-space: nowrap;
  word-break: keep-all;
  padding: 5px 10px;
  margin-right: 5px;
  height: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 7px;
}
.xmark {
  font-size: 12px;
  margin-left: 10px;
}

.styles.searchBar {
  border: none;
}
